[user]
	name = chan99k
	email = kjkj5868@gmail.com

[core]
	autocrlf = input
	quotepath = false
	editor = vim
	excludesfile = ~/.gitignore
	pager = delta

[http]
	postBuffer = 524288000

[i18n]
	logOutputEncoding = utf-8

[credential]
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager

[credential "https://dev.azure.com"]
	useHttpPath = true

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[color]
	ui = true

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = 11
	frag = magenta bold
	old = red bold
	new = green bold
	func = 146 bold
	commit = yellow bold
	whitespace = red reverse

[alias]
	b = branch -v
	c = commit -m
	ca = commit -am
	ci = commit
	amend = commit --amend
	co = checkout
	nb = checkout -b
	cp = cherry-pick -x
	d = diff
	dc = diff --cached
	last = diff HEAD^
	l = log --graph --date=short
	changes = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\" --name-status
	short = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
	pl = pull
	ps = push
	rc = rebase --continue
	rs = rebase --skip
	r = remote -v
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	ss = stash
	sl = stash list
	sa = stash apply
	sd = stash drop
	s = status
	st = status
	t = tag -n
	chunkyadd = add --patch
	contributors = shortlog --summary --numbered --email
	recent-branches = !git for-each-ref --count=15 --sort=-committerdate refs/heads/ --format='%(refname:short)'
	mt = mergetool
	filelog = log -u

[format]
	pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta) [%an]%Creset

[merge]
	summary = true
	verbosity = 1
	conflictstyle = diff3

[branch]
	autosetupmerge = true

[init]
	defaultBranch = main

[rerere]
	enabled = true

[diff]
	mnemonicprefix = true
	algorithm = patience
	colorMoved = default

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	syntax-theme = GitHub
	light = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[apply]
	whitespace = nowarn

[advice]
	statusHints = false
